/* medium is 3px */

:root {
    --box-height: 70px;
}

body {
    background: rgb(19,0,36);
    background: linear-gradient(150deg, rgba(19,0,36,1) 0%, rgba(135,11,201,1) 39%, rgba(255,0,249,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

#box {
    width: 100%;
    height: var(--box-height);
    border-width: thin 0 thin;
    border-color: white;
    border-style: solid;
    transition-duration: 0.2s;
}

#box:first-child {
    border-width: 0 0 thin;
    margin: 0px;
    height: var(--box-height);
}

#box:first-child #main {
    margin-top: 0px;
    padding-top: 10px;
}

#box:last-child {
    border-width: thin 0 0;
    border-radius: 0 0 20px 20px;
}

#box:hover {
    background-color: rgb(0,202,231);
}

.text {
    margin-top: 10px;
    margin-left: 30px;
    font-family: apple;
}

#main {
    color: white;
    font-size: 25px;
}

#sub {
    margin-top: 0px;
    font-size: 15px;
    color: grey;
}

@font-face {
    font-family: "apple";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
   }